body {
    /* https://stackoverflow.com/questions/6177492/most-standard-way-to-set-font-sizes-in-html-css */
    /* font-size standardised on body to be 10/16 */
    font-size: 62.5%; 
    font-family: var(--ff-body);
    /* each line is now 1.4em = 14px normally TODO is that ok? or control finer */
    line-height: 1.4;
    /* max-width: 1500px; */
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 10%;
    gap: 4em; 
}

@media screen and (max-width: 1000px) {
    .column-layout {
        margin: 0px 5%;
        gap: 1.5em;
    }
}

.center-layout {
    display: flex;
    justify-content: center; 
    align-items: center;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

/* TODO not sure if these are necessary */
.container-wide {
    width: 100%;
}

.container-full {
    width: 100%; 
    height: 100%;
}

.container-fullheight {
    height: 100dvh;
}

