#perlin-flow {
	--line-colour-1: var(--primary-alt-1);
	--line-colour-2: var(--primary);
	--line-colour-3: var(--primary-alt-2);
    border: 1px solid var(--accent);
    width: 90dvw;
    height: 90dvh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}