{% extends "base.html" %}

{# template for document to be displayed in an inline frame and adopts the parent document's theme #}

{% block head %}
{{- head.styles.append(style) | default("", True) }}
{{- head.scripts.append(script) | default("", True) }}
{{- super() }}
{%- endblock %}

{% block title %}{{ name | capitalize }}{% endblock %}

{% block body %}
<body class="theme-1 center-layout container-fullheight">
{{ content }}
<script>
    listenForTheme();
    {%- if postscript is defined %}
    {{ postscript }}();
    {%- endif %}
</script>
</body>
{%- endblock %}