#perlin-flow {
	--line-colour: var(--primary);

	position: absolute;
    width: 500px;
    height: 500px;

    border: 1px solid var(--accent);

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}