body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 10%;
    /* https://stackoverflow.com/questions/6177492/most-standard-way-to-set-font-sizes-in-html-css */
    /* font-size standardised on body to be 10/16 */
    font-size: 62.5%; 
    gap: 4em; 
    font-family: var(--ff-body);
    /* each line is now 1.4em = 14px normally TODO is that ok? or control finer */
    line-height: 1.4;
    /* max-width: 1500px; */
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1000px) {
    body {
        margin: 0px 5%;
        gap: 1.5em;
    }
}

/* header {
} */

/* footer {
} */

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 100%;
}

/* temporary class for heading card */
.heading {
    position: relative;
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}