/* 
    Buttons, sliders etc
*/

/* by default, we'll style the buttons ourselves and hide the normal inputs */
input[type="button"] {
    display: none;
}
input[type="checkbox"]{
    display: none;
}


.clickable {
    cursor: pointer; 
}


.button-fade-text {
    transition: opacity 0.3s ease;
}

.button-fade-text:hover {
    opacity: 0.6;
}


.primary-button {
    padding: 1em 2em;
    color: var(--text-alt);
    background-color: var(--primary);
    border-radius: var(--border-radius); 
    display: inline-block;
    /* z-index: 2; */
    /* white-space: nowrap; */
    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.primary-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0px 20px 80px -10px var(--primary);
}
