@media screen and (max-width: 50em) {
    body {
        margin: 0 5%;
        gap: 1.5em;
    }

    #grid-wrapper {
        flex-basis: content;
        grid-template-areas: 
            'head'
            'main'
            'left'
            'right'
        ;
        grid-auto-columns: auto;
        grid-auto-rows: 1fr;
    }

    /* nav bar fixed on screen in mobile? */
    /* nav {
        position: fixed;
        z-index: 1000;
    } */

    .hamburger-menu {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .hamburger-menu ul {
        flex-wrap: wrap;
        justify-content: end;
    }

}

/* TODO
@media (prefers-color-scheme: light) {
} 
*/